<div class="default_backround" align="center" id="div-show">
   
 <table id= "table-show">
      <thead id= "table-head-show">
         <tr>
            <th >
               <h3><%= @notecollection.name %></h3>
            </th>
         </tr>
      </thead>
      <tbody class="notes_table" id="table-body-show">
         <% @notecollection.notes.each do |noteID| %>
         <tr class="a" id="tr-show">
            <td id="td-show">
                <div style="display: none;" id="find-note-id">
                   <%= note = Note.find(noteID) %>
                </div>
               <h4><%= note.title %></h4>
               <ul>
                  <li id="li1-show">
                     <%= link_to 'Show', note_path(note, :_id => note._id) %>
                  </li>
                  <li id="li2-show">
                     <%= link_to 'Edit', edit_note_path(note, :_id => note._id) %>
                  </li>
                  <li id="li3-show">
                     <%= link_to 'Share', share_path(note, :_id => note._id)%>
                  </li>
                  <li id="li4-show">
                     <%= link_to 'Destroy', note_path(note, :_id => note._id), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </li>
                  <li id="li5-show">
                     <%= link_to 'Remove Note from Collection', removeNote_path(@notecollection, :_id => @notecollection._id, :note_id => noteID), method: :post, data: { confirm: 'Are you sure?' } %>
                  </li>
               </ul>
            </td>
         </tr>
         <% end %>
      </tbody>
   </table>