<div class="default_backround" align="center">
<div>
<h3>
  <strong><%= @notecollection.name %></strong>
</h3>
<% @notecollection.notes.each do |note| %>
      <tr class="a">
      
        <td><h4><%= note.title %></h4>
    
        
          <ul>
          <li>
            <%= link_to 'Show', note_path(note, :_id => note._id) %>
          </li>
          <li>
            <%= link_to 'Edit', edit_note_path(note, :_id => note._id) %>
          </li>
          <li>
            <%= link_to 'Destroy', note_path(note, :_id => note._id), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
           <li>
            <%= link_to 'Delete from collection', note_path(note, :_id => note._id), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
        
        
        </td>
       
      </tr>
    <% end %>
</div>


</div>

