<html class="default_backround">

<div>
    <head>
        <title>Mi Perfil</title>
    </head>
    <body>
        <div class="header">
            <h3 class="user-name">Usuario</h3>
            <img class="avatar" src="https://jesusmaestro.escuelateresiana.com/wp-content/uploads/2015/03/user-default.png">
           
        </div>
        <ul class="socials">
            <li>
                <a href="email">email</a>
            </li>
            <li>
                <a href="facebook">facebook</a>
            </li>
            <li>
                <a href="twitter">twitter</a>
            </li>
             <li>
                <%= link_to 'New Note', new_note_path %>
            </li>
        </ul>
</div>

<div class="default_backround" align="center">
<div class = 'box'>
<!--p>
  <strong>Id:</strong>
  <strong><%= @note._id %></strong>
</p-->

<h6>
  <!--strong>Title:</strong-->
  <strong><%= @note.title %></strong>
</h6>
<br>
<p>
  <!--strong>Text:</strong-->
  <%= @note.text %>
</p>

<p>
  <!--strong>Image:</strong-->
  <img src= "<%= @note.image %>"  width="100" height="100">
</p>
<p>
  <h1><%= link_to 'Edit', edit_note_path(@note) %></h1> 
  <h1><%= link_to 'Back', root_path %></h1>
</p>

</div>


</div>
</html>
