<%= form_with(model: user) do |form| %>
  
    <div class="myForm" style="display: none;">  
      <%= form.label :_id %>
      <%= form.text_field :_id %>
    </div>
  
    <div class="myForm">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="myForm">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  
   
    <div class="myForm">
       <%= form.label :password %>
        <%= form.text_field :password %>
    </div>

    <div class="myForm">
    <%= form.label :type %>
     <%= form.text_field :type %>
 </div>
  
  
    <div class="myForm">
      <%= form.submit %>
    </div>
    
  <% end %>