<div class="showUser" align="center">


<h6>
  <!--strong>Name:</strong-->
  <strong><%= @user.name %></strong>
</h6>
<br>
<p>
  <!--strong>Email:</strong-->
  <%= @user.email %>
</p>

<p>
  <!--strong>Password:</strong-->
  <%= @user.password %>
</p>

<p>
  <!--strong>Type:</strong-->
  <%= @user.type %>
</p>

<p>
  <h1><%= link_to 'Back', users_path %></h1>
</p>

</div>


</div>
